docs/build
.DS_Store
.venv/
.idea/
__pycache__
src/assignments/assignment_06/data
src/assignments/assignment_07/build
src/assignments/assignment_09/build
src/diffusion/outputs

# Binary
test/diffusion/data/gn_silu_block0.npz